<p>search works!</p>
<header>
    <h2 class="sub-titles">Searching</h2>
    <br>
</header>
<article>
    <section class="paragraphs" id="sub-title-choose">Choose one category:
        <select name="" id="mySelector" class="paragraphs">
            <option class="paragraphs" value="movies.json">Movies</option>
            <option class="paragraphs" value="series.json">Series</option>
        </select>
    </section>
    <section class="paragraphs">
        <input type="text" id="myInput" placeholder="Search...">
        <button id="myButton">Search</button>
    </section>
    <section class="paragraphs">
        <ul id="listOfTitles">
            <li id="container-img"></li>
        </ul>
    </section>
</article>
